/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a {
	text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	background-color: rgba(255, 254, 248, 1);
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/

/* ==== BASIC === */

body {
	font-family: 'Work Sans' ;
	font-size: 14px;
}

header, main, footer {
	max-width: 1140px;
	margin:auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px auto;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

.hidden {
	display: none;
}

.btn {
	border-radius: 60px;
	border-width: 1px;
	color: rgba(29, 97, 84, 1);
	border: 1px solid rgba(29, 97, 84, 1);
	background: none;
	padding: 8px 30px;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
}

.btn:hover, .btn.selected, .btn.secondary {
	background: rgba(29, 97, 84, 1);
	color: rgba(255, 255, 255, 1);
}

/* === EDITOR MESSAGE === */

#editor-message {
	height: 59px;
	width: 99vw;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	background-color: black;
	color: white;
}

#editor-message.hidden {
	display: none;
}

/* === NAV === */

nav ul {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li img {
	width: 20px;
}

nav i {
	font-size: 22px;
}

nav i, nav a, nav button {
	color: black;
}

nav button {
	background: none;
	border: none;
	text-decoration: none;
	font-size: 16.8px;
	font-family: 'Work Sans';
}

nav i:hover, nav a:hover, nav button:hover {
	font-weight: 600;
}

li:hover {
	color: #B1663C;
}

/* === INTRODUCTION === */

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/* === PROJETS === */

#projets .title {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 20px;
	gap: 5px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#filter {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 40px;
	gap: 10px;
}

#filter.hidden {
	display: none;
}

/* === CONTACT ET LOGIN === */

#contact {
	width: 50%;
	margin: auto;
}

#login {
	width: 379px;
	margin: 150px auto;
}

#login a, #login button {
	color: black;
	text-decoration: underline;
}

.form-section > * {
	text-align: center;
}

.form-section h2{
	margin-bottom: 20px;
}

.form-section form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

.form-section input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.form-section label {
	margin: 2em 0 1em 0;
}

.form-section textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

/* === FOOTER === */

footer {
	height: fit-content;
	width: 100%;
	background-color: white;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 2em;
}

.center { 
	display: flex;
	justify-content: center;
}

/* === MODAL === */

#modal-background {
	width: 100dvw;
	height: 100dvh;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
}

#modal-background.hidden {
	display: none;
}

#modal {
	width: 630px;
	border-radius: 10px;
	padding: 30px 50px;
	background-color: rgba(255, 255, 255, 1);
	height: fit-content;
}

#modal .right {
	display: flex;
	justify-content: end;
	width: 100%;
	font-size: 20px;
}

#modal .main {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
	height: max-content;
	width: 100%;
}

#modal span {
	font-family: Work Sans;
	font-weight: 400;
	font-size: 26px;
}

.cursor-pointer, 
#close-modal {
	cursor: pointer;
}

#see-all-project {
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#modal-gallery {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	row-gap: 35px;
	column-gap: 10px;
	height: min-content;
}

#modal-gallery figure {
	max-width: 100px;
	width: 100%;
	height: 120px;
	position: relative;
}

#modal-gallery figure img {
	height: 100%;
	object-fit: contain;
}

#modal-gallery .delete {
	padding: 2px;
	background-color: black;
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 10;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#modal-gallery .delete i {
	font-size: 16px;
	color: white;
}



